*{
    font-size: 20px;
}
ul,li{
    display: inline-block;
}
a,a:visited{
    text-decoration: none;
    color: black;
}
a:focus ~ .menu-oculto{
    visibility: visible;
}
.menu-oculto{
    display:block;
    position: absolute;
    border: 1px solid red;
    visibility: hidden;
}
.menu-oculto li{
    display: list-item;
    list-style: none;
    list
    text-decoration: none;
    padding: 0;
}
.menu-oculto li:hover{
    background-color: green;
}